{% extends 'base.html' %}
<script type="text/javascript">
    function changeMe(sel)
    {
      sel.style.color = "#000";
    }
</script>

{% block head %}
    <h1 align="center"> Comparative Asteroid Report </h1>
    <!-- <h3 align="center"> NASA's JPL Close Approach API is under maintenance. Please try again later. </h3> -->
{% endblock %}

<!-- Input daysago rows -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">

    <link href="{{ url_for('static', filename='theme.css') }}" rel="stylesheet">
    
  </head>
    
{% block content %}

<div class="page-header" >
    <p style="margin-left: 30px; margin-right: 30px;">Here you can see a list of asteroids that passed within a set amount
      of lunar distances (LD) of the Earth. One lunar distance (LD) is the distance
      between the Earth and the Moon, a distance of 238,854 miles. Please also enter
      a number of days since today and after today that you would like to include within the timeframe
      of your search.
    </p>
</div>

    
<div class="col-md-6">
    <h2 style="margin-left: 40px;">Input Asteroidal Parameters</h2>
    <br>
</div>
    <p>
        <form action="{{ url_for("daysnlunar")}}" method="POST" id="daysago" >
            <label for="daysago">Enter the number of days before and after today for which you
            would like to see the top asteroids. <br>
            For the past 24 hours, enter 1:
            </label>

          
            <select onchange="changeMe(this)" name=daysago id=daysago  method="POST"  action="/" enabled>
            <option value="{{day_selection[0]}}" selected>{{day_selection[0]}}</option>
            {% for day in day_selection[1:] %}
                  <option value= "{{day}}" SELECTED>{{day}}</option>"
            {% endfor %}
            </select>

            <br><br>

            <label for="LD">One lunar distance (LD) is the distance between the Earth and the Moon. <br> Enter the number
            of times the distance between Earth and Moon that you want to include in your <br> distance
                    parameter. The higher the distance, the more near-Earth objects (NEOs) will be returned:
            </label>
            <br>

         
            <select style="margin-left: 570px;" onchange="changeMe(this)" name=LD id=LD  method="POST"  action="/" enabled>
            <option class="grey_color" value="{{LD_selection[0]}}" selected>{{LD_selection[0]}}</option>
            {% for LD in LD_selection[1:] %}
                  <option value= "{{LD}}" SELECTED>{{LD}}</option>"
            {% endfor %}
            </select>

            <p style="font-size:14px;margin-left: 30px;">Sort by:</p>
            <input type="radio" name="sort" id="dist" value="dist" checked="checked" style="border-style:none;margin-left:30px;font-size:14px;"/><label style="font-size: 14px;">distance from Earth (closest first)</label><br>
            <input type="radio" name="sort" id="size" value="size" style="border-style:none;margin-left:30px;font-size:14px;"/><label style="font-size: 14px;">size (largest first)</label>

            <br><br>
            <input type="submit" name="submit" value="Submit" class="btn btn-primary btn-lg " style="margin-left:30px;">     <!-- "Submit" button -->
            <input type="submit" name="clear" value="Clear" class="btn btn-primary btn-lg ">  <!-- "Clear" button -->


        </form>
    <p>
    
    

{% endblock %}
        


